@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    themes: all;
}
.half-visible {
    position: relative;
    width: 50%;
    overflow: hidden; /* Hide the part that will be transparent */
  }
  
 
  
  